In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import warnings
import sys
sys.path.append("..")
warnings.filterwarnings('ignore')
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer

In [2]:
# Importing some scripts

from scripts.data_vizualization import Data_Viz 
from scripts.data_cleaning import DataCleaner
from scripts.data_transformation import DataTransformer

DC = DataCleaner()
DV = Data_Viz()
DT = DataTransformer()

In [3]:
# Importing the train data and check for outliers

train = pd.read_csv('../data/train_data_clean.csv',index_col='Date')
DV.summ_columns(train)

,variables,missing_count,missing_percent_(%),data_type,unique_values
0,Store,0,0.0,int64,1115
1,DayOfWeek,0,0.0,int64,7
2,Sales,0,0.0,float64,13194
3,Customers,0,0.0,float64,1423
4,Open,0,0.0,int64,2
5,Promo,0,0.0,int64,2
6,StateHoliday,0,0.0,object,4
7,SchoolHoliday,0,0.0,int64,2
8,StoreType,0,0.0,object,4
9,Assortment,0,0.0,object,3
10,CompetitionDistance,0,0.0,float64,655
11,CompetitionOpenSinceMonth,0,0.0,object,13
12,CompetitionOpenSinceYear,0,0.0,object,24
13,Promo2,0,0.0,int64,2
14,Promo2SinceWeek,0,0.0,object,25
15,Promo2SinceYear,0,0.0,object,8
16,PromoInterval,0,0.0,object,4
17,Year,0,0.0,int64,3
18,Month,0,0.0,int64,12
19,DayOfMonth,0,0.0,int64,31
20,Weekday,0,0.0,int64,2

In [19]:
# Creating a new column

train.loc[train['DayOfMonth'] >= 20,'DayStatus'] = 'End of Month' 
train.loc[(train['DayOfMonth'] < 20) & (train['DayOfMonth'] > 10),'DayStatus'] = 'Mid of Month' 
train.loc[train['DayOfMonth'] < 10,'DayStatus'] = 'Begining of Month'

In [22]:
# Finding out if the column worked as planned

train['DayStatus'].value_counts()

End of Month         380995
Begining of Month    334849
Mid of Month         301365
Name: DayStatus, dtype: int64