In [3]:
# Importing the libraries and removing the warning messages

import pandas as pd
import numpy as np
import warnings
import sys
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
from matplotlib import ticker
from statsmodels.tsa.stattools import adfuller, acf, pacf
from sklearn.preprocessing import MinMaxScaler

warnings.filterwarnings('ignore')

In [4]:
# Importing the scripts

sys.path.append("..")
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.ensemble import RandomForestRegressor

In [5]:
# Importing and reading the data

train = pd.read_csv('../data/train_data_clean.csv',index_col='Date')
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1017209 entries, 2015-07-31 to 2013-01-01
Data columns (total 21 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Sales                      1017209 non-null  float64
 3   Customers                  1017209 non-null  float64
 4   Open                       1017209 non-null  int64
 5   Promo                      1017209 non-null  int64
 6   StateHoliday               1017209 non-null  object
 7   SchoolHoliday              1017209 non-null  int64
 8   StoreType                  1017209 non-null  object
 9   Assortment                 1017209 non-null  object
 10  CompetitionDistance        1017209 non-null  float64
 11  CompetitionOpenSinceMonth  1017209 non-null  object
 12  CompetitionOpenSinceYear   1017209 non-null  object
 13  Promo2                     1017209 non-null  int64
 14  Promo2SinceWeek            1017209 non-null  object
 15  Promo2SinceYear            1017209 non-null  object
 16  PromoInterval              1017209 non-null  object
 17  Year                       1017209 non-null  int64
 18  Month                      1017209 non-null  int64
 19  DayOfMonth                 1017209 non-null  int64
 20  Weekday                    1017209 non-null  int64
dtypes: float64(3), int64(10), object(8)
memory usage: 170.7+ MB

In [19]:
# Checking out the index and changing it from object to date format and sorting the data by date

train.index = pd.to_datetime(train.index)
train = train.sort_index(ascending=True)
train.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,DayOfMonth,Weekday
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,1115,2,0.0,0.0,0,0,Public Holiday,1,d,c,...,Not Available,Not Available,1,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1,1
2013-01-01,379,2,0.0,0.0,0,0,Public Holiday,1,d,a,...,Not Available,Not Available,0,Not Available,Not Available,Not Available,2013,1,1,1
2013-01-01,378,2,0.0,0.0,0,0,Public Holiday,1,a,c,...,8.0,2012.0,0,Not Available,Not Available,Not Available,2013,1,1,1
2013-01-01,377,2,0.0,0.0,0,0,Public Holiday,1,a,c,...,6.0,2010.0,1,18.0,2010.0,"Feb,May,Aug,Nov",2013,1,1,1
2013-01-01,376,2,0.0,0.0,0,0,Public Holiday,1,a,a,...,8.0,2012.0,0,Not Available,Not Available,Not Available,2013,1,1,1